<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhi.commonlib">

    <uses-permission android:name="android.permission.INTERNETE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>


    </application>
</manifest>
